<p>
  Pride is excessive belief in one's own abilities,
  that interferes with the individual's recognition
  of the grace of God. It has been called the sin from
  which all others arise. Pride is also known as Vanity.
</p>
